<div class="center">

  <h1>Post Form</h1>

  <br>
  
  <input type="text" id="post-title" name="post-title" placeholder="Post Title">
  
  <br><br>
  
  <textarea id="post-details" name="post-details" rows="4" cols="50" placeholder="Post Details"></textarea>
  
  <br><br>
  
  <input type="text" id="img-url" name="img-url" placeholder="Post Image URL">
  
  <br><br>
  
  <input type="text" id="post-url" name="post-url" placeholder="Post URL">
  
  <br><br>
  
  <input type="checkbox" id="bg-color" name="bg-color" value="Bike">
  <label for="bg-color">Add Background</label>

</div>
